body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0e0e11
  }
  
  .clock-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .clock {
    font-size: 3rem;
    color: #0e0e11;
    letter-spacing: 2px;
  }
  
  .clock span {
    display: inline-block;
    padding: 0 10px;
  }